certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
decorator==4.4.2
ez-setup==0.9
gym==0.18.3
gym-minigrid==1.0.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
llvmlite==0.36.0
marlgrid==0.0.5
moviepy==1.0.3
numba==0.53.1
numpy==1.20.3
Pillow==8.2.0
proglog==0.1.9
pyglet==1.5.15
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
requests==2.25.1
scipy==1.6.3
tqdm==4.60.0
urllib3==1.26.4
